/* Currently centered in page, should move to one side when proper image is created */

.intro {
  padding: 25px;
}

h2 {
  font-size: 36px;
}

p {
  font-size: 22px;
}

#banner {
  background-color: rgb(148, 3, 32);
  color: gold;
  background-size: cover;
  height: 70px;
  margin: 0 auto;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-top: 10px;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.left-column {
  flex: 1;
  background-color: #ccc;
  padding: 10px;
  height: 1000px;
}

.right-column {
  flex: 1;
  background-color: #ddd;
  padding: 10px;
  height: 1000px;
  margin: auto;
}
