*{
    margin: 0;
    padding: 0;
}

body{
    background: #9e1c35;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: gold;
    margin-bottom: 20px;
}

.container{
    width: 70%;
    margin: 50px auto;
}

.box{
    background: #fff;
    display: flex;
    flex-basis: 60%;
    padding: 50px 100px;
}

input[type="text"]{
    width: 220%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 10px;
    padding-top: 10px;
}

input[type="email"]{
    width: 220%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 10px;
    padding-top: 10px;
}

input[type="number"]{
    width: 220%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 10px;
    padding-top: 10px;
}

.form-group-focused{
    color: #9e1c35;
    margin-bottom: 40px;
    margin-top: 30px;
}

h2{
    color: #9e1c35;
    font-weight: 600;
    margin-bottom: 30px;
}

button{
    background: rgb(156, 28, 53);
    width: 100px;
    color: #fff;
    border: none;
    outline: none;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(156, 28, 53);
}

#rad{
    padding: 30px;
}

textarea{
    width: 220%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}